section.index-categories
    h2.index-categories__title Oblíbené kategorie
    .row

        .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.index-categories__single-wrap
            a.index-categories__single.post__image-container(href="#")
                img.lazy.index-categories__img.post__featured-image(src=URLbase+"img/placeholder-280x280.png" data-src=URLbase+"img/page-contact-thumb-large.jpg" alt="#" title="#")
                h3.index-categories__single-title Postele

        .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.index-categories__single-wrap
            a.index-categories__single.post__image-container(href="#")
                img.lazy.index-categories__img.post__featured-image(src=URLbase+"img/placeholder-280x280.png" data-src=URLbase+"img/page-contact-thumb-large.jpg" alt="#" title="#")
                h3.index-categories__single-title Postele

        .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-4.index-categories__single-wrap
            a.index-categories__single.post__image-container(href="#")
                img.lazy.index-categories__img.post__featured-image(src=URLbase+"img/placeholder-280x280.png" data-src=URLbase+"img/page-contact-thumb-large.jpg" alt="#" title="#")
                h3.index-categories__single-title Postele

        .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-4.index-categories__single-wrap
            a.index-categories__single.post__image-container(href="#")
                img.lazy.index-categories__img.post__featured-image(src=URLbase+"img/placeholder-280x280.png" data-src=URLbase+"img/page-contact-thumb-large.jpg" alt="#" title="#")
                h3.index-categories__single-title Postele
                
        .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-4.index-categories__single-wrap
            a.index-categories__single.post__image-container(href="#")
                img.lazy.index-categories__img.post__featured-image(src=URLbase+"img/placeholder-280x280.png" data-src=URLbase+"img/page-contact-thumb-large.jpg" alt="#" title="#")
                h3.index-categories__single-title Postele